<!DOCTYPE html>
<html>
<head>
    <title>Browse Products</title>
</head>
<body>


<div style="margin-bottom: 1rem;">
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'register' %}">Register</a>
</div>


<h2>All Products</h2>

<ul>
{% for product in products %}
    <li>
        <strong>{{ product.name }}</strong><br>
        Store: {{ product.store.name }}<br>
        Price: ${{ product.price }}<br>

        <a href="/products/detail/{{ product.id }}/">View Product</a>
        <a href="/products/add-to-cart/{{ product.id }}/">Add to Cart</a>
    </li>
{% endfor %}
</ul>

</body>
</html>